.Stories {
    margin: 11rem auto 40px;
    position: relative;
    width: 80%;
    max-width: 20rem;
    font-size: 1.5rem;
}

.Stories h1 {
    text-align: center;
    color: rgba(19, 111, 99, 1);
    font-family: 'MuseoModerno', sans-serif;
    background-color: #fff;
    margin: 20px auto;
}

.Stories section {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 320px) {

    .Stories {
    font-size: 1.5rem;
    max-width: 55rem;
    }

    .Stories section {
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .Stories {
    font-size: 1.5rem;
    max-width: 80rem;
    }

    .Stories section {
        grid-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .Stories {
    font-size: 1.5rem;
    max-width: 110rem;
    }

    .Stories section {
        grid-template-columns: repeat(4, 1fr);
    }
}